<%= form_for @user, html: {id: 'new-user'} do |f| %>

    <tr>
      <td><%= f.label :username %> </td>
      <td><%= f.text_field :username %></td>
    </tr>

    <tr>
    <td><%= f.label :email %></td>
    <td><%= f.text_field :email %></td>
    </tr>

    <tr>
    <td><%= f.label :password %></td>
    <td><%= f.password_field :password %></td>
    </tr>

    <tr>
    <td><%= f.label :location %></td>
    <td><%= f.text_field :location %></td>
    </tr>

    <tr>
    <td><%= f.label :avatar %></td>
    <td><%= f.text_field :avatar, placeholder: "Add a link to a small picture" %></td>
    </tr>

    <tr>
    <td><%= f.label :IGN %></td>
    <td><%= f.text_field :IGN %></td>
    </tr>

    <tr>
    <td><%= f.label :showdown_handle %></td>
    <td><%= f.text_field :showdown_handle %></td>
    </tr>

    <tr>
    <td><%= f.label :TCG_handle %></td>
    <td><%= f.text_field :TCG_handle %></td>
    </tr>

    <tr>
    <td><%= f.label :favorite_pkmn %></td>
    <td><%= f.text_field :favorite_pkmn %></td>
    </tr>

    <tr>
    <td><%= f.label :about %></td>
    <td><%= f.text_area :about %></td>
    </tr>
  </table>
  <%= f.submit %>
<% end %>
