<!DOCTYPE html>
<html>
  <head>
    <title>PokemonTradeSearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body">
  <nav>
  <ul>
    <% if !logged_in? %>
    <li><a href="/users/new">Sign up</a></li>
    <li><a href="/login">Log in</a></li>
    <% else %>
    <li>Hello, <a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
    <li><a href="/logout">Sign out</a></li>
    <% end %>
    <li><a href="/">Home</a></li>
  </ul>
  </nav>
    <%= yield %>
  </body>
</html>
